<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-primary text-white text-center py-3">
    <h1>Изменение пароля</h1>
</header>
<div class="container mt-5">
    <div class="password-change-form bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 400px;">
        <form id="changePasswordForm">
            <div class="form-group">
                <label for="newPassword">Новый пароль</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Введите новый пароль"
                       required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Подтвердите новый пароль</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Подтвердите новый пароль"
                       required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Изменить пароль</button>
        </form>
        <div class="text-center mt-3">
            <p class="text-muted small"><a href="../main_menu/profile.html"
                                           class="text-muted text-decoration-underline">Вернутся к профилю</a></p>
        </div>
        <div id="error-message" class="mt-3 text-danger"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.getElementById('changePasswordForm').addEventListener('submit', async function (event) {
        event.preventDefault();

        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        const errorMessageElement = document.getElementById('error-message');
        const token = localStorage.getItem('access_token');

        if (!token) {
            alert('Токен не найден. Пожалуйста, выполните вход.');
            window.location.href = '../login/login.html';
            return;
        }

        if (newPassword !== confirmPassword) {
            errorMessageElement.textContent = 'Пароли не совпадают.';
            return;
        }
        // Проверка пароля
            if (!isValidPassword(newPassword)) {
                $('#error-message').text('Пароль должен содержать минимум 8 символов и хотя бы одну цифру.');
                return;
            }

        try {
            const response = await fetch('http://195.133.201.168:8000/reset_password_loginned/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': `Bearer ${token}`,
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    password: newPassword,
                    confirm_password: confirmPassword
                })
            });

            if (response.ok) {
                alert('Пароль успешно изменен.');
                window.location.href = '../main_menu/profile.html';
            } else if (response.status === 401) {
                errorMessageElement.textContent = 'Вы не аутентифицированы. Пожалуйста, выполните вход.';
                window.location.href = 'login.html';
            } else {
                const errorData = await response.json();
                errorMessageElement.textContent = errorData.detail || 'Произошла ошибка.';
            }
        } catch (error) {
            errorMessageElement.textContent = 'Произошла ошибка при подключении к серверу.';
        }
            function isValidPassword(password) {
            const minLength = 8;
            const hasDigit = /\d/.test(password);
            return password.length >= minLength && hasDigit;
        }
    });
</script>
</body>
</html>
