<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменение пароля</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-primary text-white text-center py-3">
    <h1>Изменение пароля</h1>
</header>
<div class="container mt-5">
    <div class="password-change-form bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 400px;">
        <form id="changePasswordForm">
            <div class="form-group">
                <label for="newPassword">Новый пароль</label>
                <input type="password" class="form-control" id="newPassword" placeholder="Введите новый пароль"
                       required>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Подтвердите новый пароль</label>
                <input type="password" class="form-control" id="confirmPassword" placeholder="Подтвердите новый пароль"
                       required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Изменить пароль</button>
        </form>
        <div id="error-message" class="mt-3 text-danger"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const currentUrl = window.location.href;
        const token = currentUrl.split('?')[1];

        if (!token) {
            $('#error-message').text('Токен не найден. Доступ к странице запрещен.');
            $('#changePasswordForm').hide();
        }

        $.ajax({
            url: `http://195.133.201.168:8000/validate_token/${token}`,
            type: 'GET',
            success: function (response) {

            },
            error: function (xhr) {
                $('#error-message').text('Токен недействителен или истек. Пожалуйста, запросите новый.');
                $('#changePasswordForm').hide();
            }
        });

        $('#changePasswordForm').on('submit', function (event) {
            event.preventDefault();
            const newPassword = $('#newPassword').val();
            const confirmPassword = $('#confirmPassword').val();

            // Проверка пароля
            if (!isValidPassword(newPassword)) {
                $('#error-message').text('Пароль должен содержать минимум 8 символов и хотя бы одну цифру.');
                return;
            }

            $.ajax({
                url: `http://195.133.201.168:8000/reset_password/${token}`,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({password: newPassword, confirm_password: confirmPassword}),
                success: function (response) {
                    alert('Пароль успешно изменен.');
                    window.location.href = 'login.html';
                },
                error: function (xhr) {
                    console.error('Ошибка:', xhr.responseText);
                    $('#error-message').text('Ошибка: ' + (xhr.responseText || 'Неизвестная ошибка'));
                }
            });
        });

        function isValidPassword(password) {
            const minLength = 8;
            const hasDigit = /\d/.test(password);
            return password.length >= minLength && hasDigit;
        }
    });
</script>
</body>
</html>
