<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>Сброс пароля</h1>
    </header>
    <div class="container mt-5">
        <div class="password-reset-form bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 400px;">
            <form id="resetPasswordForm">
                <div class="form-group">
                    <label for="email">Адрес электронной почты</label>
                    <input type="email" class="form-control" id="email" placeholder="Введите свой адрес электронной почты" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Отправить ссылку для сброса</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $('#resetPasswordForm').on('submit', function(event) {
            event.preventDefault();
            const email = $('#email').val();
            $.ajax({
                url: `http://195.133.201.168:8000/reset_password_by_email/${email}`,
                type: 'POST',
                success: function(response) {
                    alert('Ссылка для сброса пароля была отправлена на вашу почту.');
                },
                error: function(xhr) {
                    alert('Ошибка: ' + xhr.responseText);
                }
            });
        });
    </script>
</body>
</html>
