<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script>
  // Проверяем наличие access_token в local storage
  const accessToken = localStorage.getItem('access_token');

   setTimeout(() => {
     const accessToken = localStorage.getItem('access_token');
     if (accessToken) {
       window.location.href = 'main_menu/profile.html';
     } else {
       window.location.href = 'login/login.html';
     }
   }, 100); // Задержка в 100 миллисекунд

</script>
</body>
</html>