<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="bg-primary text-white text-center py-3">
    <img src="logo.png" alt="Логотип сайта" class="d-inline-block align-middle" style="height: 50px;">
</header>
<div class="container mt-5">
    <div class="password-reset-form bg-white p-4 rounded shadow-sm mx-auto" style="max-width: 400px;">
        <div class="form-header text-center mb-4">
            <h2 class="text-primary">Сброс пароля</h2>
        </div>
        <form id="reset-password-form">
            <div class="form-group">
                <label for="email">Адрес электронной почты</label>
                <input type="email" class="form-control" id="email" placeholder="Введите свой адрес электронной почты"
                       required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Сбросить пароль</button>
        </form>
        <div class="text-center mt-3">
            <p class="text-muted small"><a href="index.html" class="text-muted text-decoration-underline">Вернуться
                к авторизации</a></p>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.getElementById('reset-password-form').addEventListener('submit', function (event) {
        event.preventDefault();
        var email = document.getElementById('email').value;
        var url = `http://195.133.201.168:8000/reset_password_by_email/${encodeURIComponent(email)}`;

        fetch(url, {
            method: 'POST'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка сети');
                }
                return response.json();
            })
            .then(data => {
                alert('Письмо для сброса пароля отправлено на ваш адрес электронной почты.');
                document.getElementById('email').value = '';
                window.location.href = 'index.html';
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Произошла ошибка при отправке запроса, убедитесь что вы правильно написали свою почту.');
                document.getElementById('email').value = '';
            });

    });
</script>
</body>
</html>