<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Диалоги</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .container {
            max-width: 1000px; /* Устанавливаем максимальную ширину контейнера */
        }
        .search-container {
            display: flex;
            align-items: center;
        }
        .search-container input {
            flex: 1;
            margin-right: 10px;
        }
        .dialog-item {
            position: relative;
        }
        .delete-icon {
            position: absolute;
            top: 25px;
            right: 10px;
            cursor: pointer;
            color: red;
            display: none;
        }
        .dialog-item:hover .delete-icon {
            display: block;
        }
    </style>
</head>
<body>
<header class="bg-primary text-white text-center py-3">
    <img src="../logo.png" alt="Логотип сайта" class="d-inline-block align-middle" style="height: 50px;">
</header>
<div class="container mt-5">
    <div class="row">
        <nav class="col-md-3">
            <div class="list-group">
                <a href="profile.html" class="list-group-item list-group-item-action">Аккаунт</a>
                <a href="dialogs.html" class="list-group-item list-group-item-action active">Диалоги</a>
                <a href="swipes.html" class="list-group-item list-group-item-action">Свайпы</a>
                <a href="events.html" class="list-group-item list-group-item-action">Подборки</a>
            </div>
        </nav>
        <main class="col-md-9">
            <div class="dialogs-page bg-white p-4 rounded shadow-sm">
                <div class="form-header text-center mb-4">
                    <h2 class="text-primary">Диалоги</h2>
                </div>
                <div class="mb-3 search-container">
                    <input type="text" id="search-input" class="form-control" placeholder="Поиск по имени пользователя">
                    <button id="search-button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div id="dialogs-list"></div>
            </div>
        </main>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const token = localStorage.getItem('access_token');

        if (!token) {
            alert('Необходима авторизация');
            window.location.href = '../login/login.html';
            return;
        }

        function fetchDialogs() {
            fetch('http://195.133.201.168:8000/dialogues', {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Accept': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Не удалось получить данные пользователя');
                    }
                    return response.json();
                })
                .then(data => {
                    displayDialogs(data.dialogues, data.other_user);
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Не удалось загрузить информацию о пользователе');
                    window.location.href = '../login/login.html';
                });
        }

        function displayDialogs(dialogues, other_user) {
            const dialogsListDiv = document.getElementById('dialogs-list');
            dialogsListDiv.innerHTML = '';

            dialogues.forEach((dialogue, index) => {
                const user = other_user[index];
                const dialogItem = document.createElement('div');
                dialogItem.className = 'dialog-item';
                dialogItem.setAttribute('data-dialogid', dialogue[0]);
                dialogItem.innerHTML = `
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex align-items-center">
                            <img src="${user['profile_image']}" class="rounded-circle" style="width: 40px; height: 40px;">
                            <div class="ml-3">
                                <h6 class="mb-0">${user['name']}</h6>
                                <a href="chat.html?dialogue_id=${dialogue[0]}" class="btn btn-link p-0">Перейти в чат</a>
                                <i class="fas fa-times delete-icon" style="color: red;" onclick="deleteDialogue(${dialogue[0]})"></i>

                            </div>
                        </div>
                    </li>
                </ul>`;
                dialogsListDiv.appendChild(dialogItem);
            });
        }

        window.deleteDialogue = function(dialogId) {
            $.ajax({
                type: "PUT",
                url: `http://195.133.201.168:8000/delete_dialogue/${dialogId}`,
                data: { dialogId: dialogId },
            success: function() {
            const dialogItem = document.querySelector(`.dialog-item[data-dialogid="${dialogId}"]`);
            if (dialogItem) {
                dialogItem.innerHTML = `
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action text-center">
                            <h6>Диалог удалён</h6>
                        </li>
                    </ul>`;
            }
        },
        error: function(xhr, status, error) {
            console.error('Ошибка при удалении диалога:', error);
            alert('Не удалось удалить диалог');
        }
    });
}

        document.getElementById('search-button').addEventListener('click', function () {
            const searchTerm = document.getElementById('search-input').value.trim();

            if (searchTerm === '') {
                fetchDialogs();
                return;
            }

            fetch(`http://195.133.201.168:8000/search_dialog/${encodeURIComponent(searchTerm)}`, {
                method: 'GET',
                headers: {
                    'Authorization': `Bearer ${token}`,
                    'Accept': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Диалог не найден или произошла ошибка');
                    }
                    return response.json();
                })
                .then(data => {
                    const foundDialogIds = data[`the dialog was successfully found with users by name${searchTerm}`];

                    if (foundDialogIds && foundDialogIds.length > 0) {
                        fetch('http://195.133.201.168:8000/dialogues', {
                            method: 'GET',
                            headers: {
                                'Authorization': `Bearer ${token}`,
                                'Accept': 'application/json'
                            }
                        })
                            .then(res => {
                                if (!res.ok) {
                                    throw new Error('Не удалось получить данные о диалогах');
                                }
                                return res.json();
                            })
                            .then(allDialogs => {
                                const filteredDialogs = allDialogs.dialogues.filter(dialog => foundDialogIds.includes(dialog[0]));
                                const filteredUsers = allDialogs.other_user.filter((_, index) => foundDialogIds.includes(allDialogs.dialogues[index][0]));

                                displayDialogs(filteredDialogs, filteredUsers);
                            })
                            .catch(err => {
                                console.error('Ошибка:', err);
                                alert('Ошибка при загрузке диалогов');
                            });
                    } else {
                        alert('Диалог не найден');
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                    alert('Диалог не найден');
                });
        });

        fetchDialogs();
    });
</script>
</body>
</html>
